@charset "utf-8";
/*
 Share Style [
----------------------------------------------------------- */
* {
	margin:0;
	padding:0;
}
body {
    position: relative;
	background:#FFF;
	font-family:Verdana, "ms pゴシック", sans-serif;
    font-size:80%;
    z-index: 1;
}
#modal{
    position: relative;
    z-index: 9998;
    display: block;
}
html {
	overflow-y:scroll;
}
li {
	list-style-type:none;
}
img {
	border:0;
}
address {
	font-style:normal;
}
/*
----------------------------------------------------------
*/
.header{
    margin-top: 0%;
    width: 100vw;
    height: 7vh;
    background-color: rgb(201, 202, 204);
    align-content: center;
    /* headerを上部に固定する */
    position: fixed;
}
.container_body{
    display: flex;
    margin-top: auto;

}
.left_menu{
    background-color: #e3e3e3;
    margin-top: 7vh;
    margin-left: 0%;
    width: 20%;
    height: 90vh;
}
.main{
    margin-top: 7vh;
    margin-left: 0%;
    width: 60%;
    height: 90vh;
    overflow: scroll;
    background:#f5f5f5
}
.right_menu{
    background-color: #e3e3e3;
    margin-top: 7vh;
    margin-left: 0%;
    width: 20%;
    height: 90vh;
}
.footer{
    width: 100%;
    margin-top: 0vh;
    height: 5vh;
    background-color: #f5f5f5;
    /* footerを下部に固定する */
}
/*
------------------------------------------------------------
*/
/* ヘッダー内の要素 */
.header_items{
    display: flex;
    height: 7vh;
}
#h_item1{
    margin-left: 0%;
    width: 5vw;
    height: auto;
}
#logo{
    margin: auto;
    width: 3vw;
    height: auto;
}
/* 画面遷移 */
#h_item2{
    display: flex ;
    margin-left: 0%;
    width: 24.5vw;
    align-items: center;
}
#form_group{
    display: flex ;
    margin-left: 0%;
    width: 25vw;
    align-items: center;
}
.clear-decoration {
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    width: 6vw;
}
#h_item3{
    display: flex;
    margin-left: 0%;
    width: 38.9vw;
    height: 7vh;
    text-align: center;
    align-items: center;
}
#title{
    margin-left: 13vw;
    height: 7vh;
    text-align: center;
    align-items: center;
}
#title-text{
    margin-top: 2%;
    font-size: xx-large;
    align-items: center;
}
#h_item4{
    margin-left: 0%;
    width: 31vw;
    display: flex;
    align-items: center;
}
#searchform{
    margin-left: 2%;
    align-items: center;
}
#post_button{
    margin-right: 1%;
    align-items: center;
}
#setting{
    align-items: center;
}


/* main内の要素 */
#carousel-area{
    z-index: 1;
    text-align: center;
    display: flex;
}
/* カルーセルエリアの中の要素 */
#carousel_left_side{
    width: 10vw;
}
#carousel_center_side{
    width: 40vw;
    margin: 0%;
}
#carousel_right_side{
    width: 10vw;
}
iframe{
    z-index: 1;
    width: 30vw;
    height: 30vh;
}
/* cardエリア */
#card{
    height: auto;
    width: auto;
}

.card{
    width: 18rem;
}
/*
スマホ表示時and狭いウィンドウ表示の際
コンテナ内の左右のメニュー要素を表示させない
*/
@media screen and (max-width: 460px){
        .main{
            background-color: #FFF;
            margin-top: 5vh;
            margin-left: 0%;
            width: 100%;
            height: 90vh;
            overflow: scroll;
        }
        #title-text{
            margin-top: 2%;
            font-size: medium;
            align-items: center;
        }
        .left_menu, .right_menu,#carousel_left_side,#carousel_right_side {display:none}
        .carousel-area{
            width: 100%;
        }
        #carousel_center_side{
            width: 100vw;
            margin: 0%;
            background-color: black;
        }
        iframe{
            width: 100vw;
            height: 30vh;
        }
        .card{
            margin: auto;
            width: auto;
        }
        .card-deck{
            text-align: center;
        }
    }
/*
タブレット端末表示時の画面幅に合わせる
*/

.modalArea {
    display: none;
    position: fixed;
    z-index: 100; /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
  }

  .modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 500px;
    padding: 10px 30px;
    background-color: #fff;
  }

  .closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
  }
  #openModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
  }
  /* モーダル内部 */
  #inputFile {
    position: relative;
    padding: 180px 0 100px;
    text-align: center;
}

#dropArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0 0;
    border: 2px dashed #494949;
    background: rgba(22, 165, 191, 0);
    transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
}

#dropArea.dragover {
    border: 2px solid #16a5bf;
    background: rgba(22, 165, 191, 0.6);
}

#uploadFile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 300px;
    height: 80px;
    opacity: 0;
}

#inputFileWrap {
    position: relative;
    display: inline-block;
}

#btnInputFile,
#btnChangeFile {
    display: table;
    width: 300px;
}

#btnChangeFile {
    display: none;
}


#btnInputFile span,
#btnChangeFile span {
    position: relative;
    z-index: 2;
    display: table-cell;
    width: 300px;
    height: 80px;
    border: 1px solid #333;
    border-radius: 4px;
    background: #333;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
}

#upFileWrap.selected #btnInputFile {
    display: none;
}

#upFileWrap.selected #btnChangeFile {
    display: table;
}
